@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --weg-blue:#00579D;
  --weg-dark:#003F7D;
}

@theme inline {
    --weg-blue:#00579D;
}


blue: '#00579D',
dark: '#003F7D',
light: '#E
