@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --weg-blue:#00579D;
  --weg-dark:#003F7D;
  --weg-light: #EAF4FF;
}

@theme inline {
    --color-blue:#00579D;
    --color-light:#EAF4FF;
    --color-dark:#003F7D;
}

