@import "tailwindcss";

:root {

  --color-blue:#00579D;
  --color-dark:#003F7D;
  --color-light: #EAF4FF;
}

@theme {
    --color-weg-blue:#00579D;
    --color-weg-light:#EAF4FF;
    --color-weg-dark:#003F7D;
}

